<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gupaoedu.activity.dal.persistence.ActDrawAwardMapper" >
  <resultMap id="BaseResultMap" type="com.gupaoedu.activity.dal.entitys.ActDrawAward" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="award_name" property="awardName" jdbcType="VARCHAR" />
    <result column="award_info" property="awardInfo" jdbcType="VARCHAR" />
    <result column="award_type" property="awardType" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, award_name, award_info, award_type, create_time
  </sql>

  <select id="queryAwardById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from activity_award where id=#{id}
  </select>

</mapper>