<component name="ArtifactManager">
  <artifact type="war" name="spring-webmvc-jsp:war">
    <output-path>$PROJECT_DIR$/xiaomage-space/公开课/代码/spring-webmvc-jsp/target</output-path>
    <root id="archive" name="spring-webmvc-jsp-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="spring-webmvc-jsp:war exploded" />
    </root>
  </artifact>
</component>