<component name="ArtifactManager">
  <artifact type="war" name="spring-quartz:war">
    <output-path>$PROJECT_DIR$/qingshan-space/public/quartz-demo/spring-quartz/target</output-path>
    <root id="archive" name="spring_quartz.war">
      <element id="artifact" artifact-name="spring-quartz:war exploded" />
    </root>
  </artifact>
</component>