<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <style type="text/css">
        .layui-table-page {
            position:fixed;
        }
    </style>
    <meta charset="UTF-8">
    <title>任务列表</title>
    <script>
        function deleteUser(sid) {
            alert(sid)
        }
    </script>
</head>

<body>
<div style="text-align: center">
    <h1>任务列表</h1>
    <br/>
    <table align="center" border="1px" cellspacing="0" width="400px" style="text-align: center">

    </table>
</div>
</body>
</html>